/* Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*------------------
 footer title  
 -------------------*/
 .menu-bar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;

 }
 .menu-bar .menu-list a{
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   text-decoration: none;
 }
 .anchor-gap{
    padding-left: 36px;
 }
 .log-in{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
 }
 header{
    width: 1054px;
    height: 677px;
    background-color: #2D25A0;
    padding: 42px 124px 86px 156px;
    margin-bottom: 70px;
 }
 .header-title{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 29px;
 }
 .title-info{
    height: 100px;
 }
 .info{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
 }
 .watch-live{
    padding: 10px 24px;
    background-color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
 }
 .banner-2nd img{
    width: 556.01px;
    height: 438px;
 }
 .banner-1st {
   transition: transform ease-out 1.5s;
 }
 .banner-1st:hover {
   transform: skew(-30deg, 30deg) scale(1.01);
 }
/* --------------
top blogs styles
---------------- */
main{
   background-color: #FFFFFF;
}
/*----------
 player details  
 --------------*/
.container{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.blog img{
   width: 300px;
   height: 256px;
  
   
}
.top-blogs{
   display: grid;
   margin-left: 80px;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 27px;
}


.blogs{
   
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   height: 474px;
   width: 330px;
   
}
.blog{
   padding: 15px 15px 33px 15px;
}
.text{
   overflow: scroll;
   height: 164px;
   overflow-x: hidden;
}
.player-details{
   color:#6C6C6C;
}
/*---------
 all heighlights
 ---------------*/
.highlights{
   margin-top: 165px;
   margin-bottom: 58px;
   margin-left: 182px;
   margin-right: 156px;
}
.highlights-area{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   height: 80px;
   width: 100px;
}
.highlights-text{
   width: 330px;
}
.highlights-img img{
   width: 567px;
   height: 427px;
   margin-left: 180px;
}
.default-text{
   font-size: 48px;
   font-weight: bold;
}

/*------------ 
      xtra 
------------------*/
.name{
   padding-left:40px;
}
.new-adder{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.photo-frame{
   width: 300px;
   height: 200px;
   border: 2px solid darkgrey;
   border-radius: 10px;
   position: relative;
   margin: 10px;
   overflow: hidden;
}
.photo img{
   width: 100%;
   border-radius: 10px;
}
.photo-details{
   display: none;
   position: absolute;
   width: 300px;
   top: 0;
   overflow: scroll;
  overflow-x: hidden;
  height: 164px;
  margin: 10px;
}
.photo-frame:hover .photo-details{
   display: block;
   background-color: rgba(199, 180, 134, 0.7);
}
.photo-details h3{
   background-color:bisque;
   color:black;
   text-align: center;
}
.photo-details p{
   color: white;
}   
.photo-album{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
      
.photo-frame:hover .photo{
  transform: scale(1.3) skew(-30deg);
  transition: transform 2s ease-in-out;
}
/*--------------------
 mission footer  
 --------------------*/
.footer-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 158px;
    margin-bottom: 63px;
 }
 .football-logo{
    margin-bottom: 20px;
 }
.footer-bar .football-logo img{
   width: 483.87px;
   height: 110px;
}
.social-icon{
   margin-bottom: 20px;
}
.footer-bar .social-icon a{
   margin-right: 14px;
   font-size: 20px;
}
.copyright{
   color: #000000;
   font-size: 18px;
}
/* responsive */
@media (max-width: 688px) {
   .header-banners {
     height: 700px;
     display: flex;
     flex-direction: column;
     justify-items: center;
   }
   .top-blogs{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .new-adder{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .highlights-area{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
   }
  .footer-bar{
     width: 250px;
  }
  .football-logo img{
     width: 100%;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
   .header-banners {
     height: 100%;
   }
   .top-blogs{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   .new-adder{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   .highlights-area{
      display: flex;
      flex-direction: row;
      width: 100%;
   }
  .footer-bar{
     width: 100%;
  }
  .football-logo img{
     width: 100%;
  }
}